#centered {text-align: center;}

table, th, td 
{
    border: 1px solid black;
}

    body, html 
/* Hero Image Adds a Banner to the top of the Page */
{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* This Uses the "Linear-Gradient to Darken the Image. This allows clarity for Text */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./bannertest.png");
  /* Controls Height */
  height: 50%;
  /* Posistions and Scales the Image for All Screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Centers the Text*/
.hero-text 
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
 
.hero-text button 
{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover 
{
  background-color: #555;
  color: whitesmoke;
}